<html>
<body style="font-family: Arial, sans-serif; line-height: 1.6; color: #333;">
    <p>Dear {name},</p>
    <p><b>Congratulations and Welcome!</b></p>
    <p>We are happy to make you a part of <b>SwipeGen</b> and appoint you as a <b>{role}</b> based out of our Bengaluru office.</p>
    <p>It was a pleasure interacting with you during the hiring process. Please find enclosed your offer letter.</p>
    <p>We would like to have you on board by <b>{start_date}</b>.</p>
    <p>We would appreciate your response and acceptance through email. Kindly sign the letter digitally and send it back to us.</p>
    <p>This offer is subject to reference checks and will expire by the end of {start_date}.</p>
    
    <p>Thanks and Regards,<br>
    <b>Team SwipeGen</b><br>
    +91-7985199972 | <a href="mailto:mail.swipegen@gmail.com">mail.swipegen@gmail.com</a></p>
    
    <table cellspacing="0" cellpadding="5" border="0">
        <tr>
            <td><a href="{ig_link}"><img src="https://cdn-icons-png.flaticon.com/512/174/174855.png" width="30" height="30" alt="Instagram"></a></td>
            <td><a href="{li_link}"><img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" width="30" height="30" alt="LinkedIn"></a></td>
            <td><a href="{web_link}"><img src="https://cdn-icons-png.flaticon.com/512/841/841364.png" width="30" height="30" alt="Website"></a></td>
        </tr>
    </table>
    <p><a href="{web_link}">www.swipegen.in</a></p>
</body>
</html>