SENDER_EMAIL= #sender@gmail.com
SENDER_PASSWORD= #App Password
SMTP_PORT=587
INSTAGRAM_URL=https://www.instagram.com/_swipegen_?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==
LINKEDIN_URL=https://www.linkedin.com/company/swipegen/
WEBSITE_URL=https://www.swipegen.in/
REGISTRATION_SHEET_URL= #Registration shett URL
INTERVIEW_RESPONSE_SHEET_URL= #Interview Response Sheet URL
OFFER_DETAILS_SHEET_URL= #Offer Details Sheet URL