SENDER_EMAIL=your_email@gmail.com
SENDER_PASSWORD=your_app_specific_password
SMTP_PORT=587

WEBSITE_URL=https://www.swipegen.in/
INSTAGRAM_URL=https://www.instagram.com/_swipegen_?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==
LINKEDIN_URL=https://www.linkedin.com/company/swipegen/
GOOGLE_SEARCH_URL=https://www.google.com/search?q=SwipeGen

REGISTRATION_SHEET_URL=https://docs.google.com/spreadsheets/d/your_registration_sheet_id/edit
INTERVIEW_RESPONSE_SHEET_URL=https://docs.google.com/spreadsheets/d/your_interview_response_sheet_id/edit
OFFER_DETAILS_SHEET_URL=https://docs.google.com/spreadsheets/d/your_offer_details_sheet_id/edit

CERTIFICATES_DRIVE_FOLDER_ID=your_certificates_drive_folder_id
OFFER_LETTERS_DRIVE_FOLDER_ID=your_offer_letters_drive_folder_id
